<div class="panel">
  <div id="about-top" class="flex">
    <div class="image-div"><img id="about-logo" src="assets/images/logo.png"/></div>
    <div class="text-content">
      <h2>About Us</h2>
      <div marked="content['About Us']"></div>
    </div>
  </div>
  <div class="flex">
    <div id="funding" class="text-content">
      <h2>Funding</h2>
      <div marked="content['Funding']"></div>
    </div>
    <div class="line"></div>
    <div id="organization" class="text-content">
      <h2>Unit Organization and Operation</h2>
      <div marked="content['Unit Organization and Operation']"></div>
    </div>
  </div>
</div>
