<div class="panel">
  <h1 id="class-message" ng-class="classOpen">{{ classMessage }}</h1>
  <div class="text-content">
    <h2>About Our Class</h2>
    <div marked="content['About Our Class']"></div>
  </div>
  <div class="flex">
    <div class="text-content">
      <h2>Quick Facts</h2>
      <div marked="content['Quick Facts']"></div>
    </div>
    <div class="line"></div>
    <div class="text-content">
      <h2>How to Register</h2>
      <div marked="content['How to Register']"></div>
    </div>
  </div>
</div>
