<div class="panel">
  <div class="text-content">
    <h2>Mission CPR</h2>
    <div marked="content['Mission CPR']"></div>
  </div>
  <div>
    <a target="_blank" href="https://docs.google.com/a/umass.edu/document/d/1zgC0nnr583IqrUxRD_HqFlqZuvTWw44Pf_hXba7LUZk/edit?usp=sharing">
      Click to view current schedule
    </a>
  </div>
  <div id="cpr-middle" class="flex">
    <div id="costs">
      <div class="vertical-center">
        <div class="vertical-spacer"></div>
        <table id="cpr-costs">
          <tr class="top">
            <th>Class</th>
            <th>Cost</th>
          </tr>
          <tr ng-repeat="row in cprCosts">
            <td>{{ row.Class }}</td>
            <td>${{ row.Cost }}</td>
          </tr>
        </table>
        <div class="vertical-spacer"></div>
      </div>
    </div>
    <div>
      <div id="discounts" class="vertical-center">
        <h2>Discounts</h2>
        <div class="vertical-spacer"></div>
        <div marked="content['Discounts']"></div>
        <div class="vertical-spacer"></div>
      </div>
    </div>
  </div>
  <text-content one="'How to Sign Up'" two="'Courses Offered'" content="content">
  </text-content>
</div>
