<div class="panel">
  <div id="cpr-top" class="flex">
    <img id="cpr-logo" src="assets/images/heart-logo.png"/>
    <div class="text-content">
      <h2>Mission CPR</h2>
      <div marked="content['Mission CPR']"></div>
    </div>
  </div>
  <div id="cpr-middle" class="flex center">
    <div id="costs">
      <table id="cpr-costs">
        <tr class="top">
          <th>Class</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>Heart Saver CPR/AED</td>
          <td>$50</td>
        </tr>
        <tr>
          <td>Healthcare Provider</td>
          <td>$60</td>
        </tr>
        <tr>
          <td>CPR/AED with First Aid</td>
          <td>$75</td>
        </tr>
      </table>
    </div>
    <div>
      <div id="discounts">
        <h2>Discounts</h2>
        <div marked="content['Discounts']"></div>
      </div>
    </div>
  </div>
  <text-content one="'How to Sign Up'" two="'Courses Offered'" content="content">
  </text-content>
</div>
