<div class="panel" ng-controller="ShiftController">
  <h1>Shifts</h1>
  <a class="big-text" href="https://docs.google.com/spreadsheets/d/189rTX1Y5b_CAmvBcBXo2NZeNAxCil0vG5-nHHa69r0o">Click for Complete Shift Spreadsheet</a>
  <p class="big-text">Select the type of shift you want by clicking the buttons below</p>
  <div id="filter-panel">
    <div id="role">
      <h3>Role</h3>
      <span ng-click="one = !one; filter()" ng-class="one?'selected':''" class="filter big-text">One</span>
      <span ng-click="two = !two; filter()" ng-class="two?'selected':''" class="filter big-text">Two</span>
      <span ng-click="vol = !vol; filter()" ng-class="vol?'selected':''" class="filter big-text">Volunteer</span>
      <span ng-click="dir = !dir; filter()" ng-class="dir?'selected':''" class="filter big-text">Director Pick</span>
    </div>
    <div id="weekday">
      <h3>Weekday</h3>
      <span ng-click="sunday = !sunday; filter()" ng-class="sunday?'selected':''" class="filter big-text">Su</span>
      <span ng-click="monday = !monday; filter()" ng-class="monday?'selected':''" class="filter big-text">M</span>
      <span ng-click="tuesday = !tuesday; filter()" ng-class="tuesday?'selected':''" class="filter big-text">Tu</span>
      <span ng-click="wednesday = !wednesday; filter()" ng-class="wednesday?'selected':''" class="filter big-text">W</span>
      <span ng-click="thursday = !thursday; filter()" ng-class="thursday?'selected':''" class="filter big-text">Th</span>
      <span ng-click="friday = !friday; filter()" ng-class="friday?'selected':''" class="filter big-text">F</span>
      <span ng-click="saturday = !saturday; filter()" ng-class="saturday?'selected':''" class="filter big-text">Sa</span>
    </div>
    <div id="time">
      <h3>Time of Day</h3>
      <span ng-click="morning = !morning; filter()" ng-class="morning?'selected':''" class="filter big-text">Morning</span>
      <span ng-click="afternoon = !afternoon; filter()" ng-class="afternoon?'selected':''" class="filter big-text">Afternoon</span>
      <span ng-click="evening = !evening; filter()" ng-class="evening?'selected':''" class="filter big-text">Evening</span>
    </div>
    <div id="venue">
      <h3>Venue</h3>
      <span ng-click="fac = !fac; filter()" ng-class="fac?'selected':''" class="filter big-text">FAC</span>
      <span ng-click="mullins = !mullins; filter()" ng-class="mullins?'selected':''" class="filter big-text">Mullins</span>
      <span ng-click="other = !other; filter()" ng-class="other?'selected':''" class="filter big-text">Other</span>
    </div>
  </div>
  <div ng-if="dir" class="director-pick" shiftboxes info="directorPicks"></div>
  <div shiftboxes info="filteredShifts"></div>
</div>
