<div class="panel">
  <div class="staff-header">
    <h1>Board of Directors</h1>
    <p>The Board of Directors represent the upper level leadership of UmassEMS. They are elected each calendar year and serve one year terms.</p>
  </div>
  <div class="horizontal-container" staffpanels info="directors"></div>
  <div class="staff-header">
    <h1>Administrative Staff</h1>
    <p>The Administrative Staff is critical to keep UmassEMS running. These positions are appointed by the directors each academic year.</p>
  </div>
  <div class="horizontal-container" staffpanels info="staff"></div>
</div>
