#mobile-menu {
  background-color: $mobile-menu-grey;
}

#mobile-menu > div > p {
  border-bottom: 5px solid black;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 10%;
  color: white;
  font-size: 42pt;
  text-align: left;
}

#mobile-menu > div > p:hover {
  background-color: darken($mobile-menu-grey, 5);
}
