#nav-bar {
  font-family: sans-serif;
  display: flex;
  min-width: 1100px;
  font-size: 22pt;
  position: fixed;
}

#nav-bar > div#nav-links {
  flex-grow: 1;
  text-align: right;
}

#nav-bar > div > a > span {
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  padding-right: 10px;
  color: white;
}

#nav-bar > div > a.page {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  font-weight: normal;
}

#nav-bar > div > a.page:hover {
  background-color: $umass-maroon;
  color: white;
  font-weight: normal;
}

#nav-bar > div > a.page.selected {
  background-color: $umass-maroon;
}

#view {
  flex: 1;
}

.pc {
  margin-top: 60px;
}

.top-bar {
  background-color: $ems-navy;
  padding-bottom: 0px;
  border-bottom: 8px solid $umass-maroon;
  top: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 4px;
  color: white;
}

.top-bar a {
  color: white;
}

#mobile-navbar {
  font-size: 52pt;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  text-align: left;
}

#mobile-navbar > div {
  width: 10%;
  flex-grow: 1;
}

#mobile-navbar > div.bar-center {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
}

#menu-button {
  font-weight: bold;
  border-radius: 30%;
  padding: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 2vh;
}

#menu-button:active {
  color: lighten($ems-navy, 50);
}
