img#join-photo {
  height: 400px;
}

#expectations {
  text-align: center;
  flex-grow: 1;
}

#expectations h2 {
  font-size: 24pt;
}

#expectations p {
  font-size: 20pt;
}

#expectations div {
  background-color: #9fb3c6;
  padding: 10px;
}
