#expectations {
  text-align: center;
  flex-grow: 1;
  padding: 0.5em;
}

#expectations p {
  padding: 0.25em;
  font-family: open-sans-semibold;
}

#expectations div {
  background-color: #9fb3c6;
  padding: 10px;
}
