#expectations {
  text-align: center;
  flex-grow: 1;
}

#expectations p {
  font-size: 3vh;
  padding: 1vh;
  font-family: open-sans-semibold;
}

#expectations div {
  background-color: #9fb3c6;
  padding: 10px;
}
