div.shift-box {
  background-color: #9fb3c6;
  border-radius: 2px;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 800px;
  display: flex;
  text-align: left;
}

div.director-pick > div.shift-box {
  background-color: #FFD700;
}

div.shift-box > div {
  margin: 5px;
  min-width: 150px;
  width: 10%;
  flex-grow: 10;
  word-wrap: break-word;
}

div.shift-box > div.small {
  width: 3%;
  min-width: 80px;
  text-align: center;
  flex-grow: 1;
}

div.shift-slot-box {
  display: flex;
  flex-direction: row;
}

div.shift-slot-box > div {
  flex-grow: 1;
}

.filter.selected {
  background-color: lightgreen;
}

span.filter {
  padding: 8px;
  background-color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

span.filter:hover {
  background-color: darken(lightgrey, 10);
}

span.filter.selected:hover {
  background-color: darken(lightgreen, 10);
}

#filter-panel {
  margin: 20px;
  text-align: center;
}

#filter-panel > div {
  margin: 20px;
  border: solid 3px black;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
}

#filter-panel > div >  h3 {
  padding-bottom: 10px;
}
