.staff-header {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.staff-header > h1 {
  border-bottom: 3px solid $umass-maroon;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 5px;
}

.staff-header > p {
  padding: 10px;
  background-color: lighten($umass-maroon, 50);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

div.person-box {
  background-color: #9fb3c6;
  margin: 10px;
  text-align: left;
  padding: 10px;
  border-radius: 2px;
}

div.person-box > h3 {
  color: white;
  background-color: darken($umass-maroon, 10);
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

div.person-container {
  display: flex;
}

div.person-container.mobile {
  flex-direction: column;
  text-align: center;
}

div.person-container.mobile > div > div.person-crop-container {
  height: 100vw;
  width: 75vw;
}

div.person-container.mobile > div > div.person-crop-container > img {
  height: 100vw;
}

div.person-container > div > div {
  display: inline-block;
}

div.left {
  display: block;
}

div.right {
  display: block;
  margin-left: 10px;
}

div.right * {
  margin-bottom: 10px;
}

.person-crop-container {
  width: 24vh;
  height: 32vh;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
}

img.human-picture {
  height: 32vh;
  /** This might be the hackiest thing you have ever done
    * For some reason this centers and crops images mantaining height
    * The images must be less wide than the margins
    * One day you should find a less hacky way of doing this
    * But that is not this day */
  margin-left: -1000vw;
  margin-right: -1000vw;
  display:inline;
}
