div.flex {
  display: flex;
  flex-wrap: wrap;
}

div.flex.center {
  justify-content: center;
  align-items: center;
}

div.flex > div:not(.line):not(.image-div) {
  width: 40%;
  padding-bottom: 20px;
  min-width: 500px;
  flex-grow: 5;
}

div.image-div {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

div.image-div > img {
  display: inline;
}

div.flex > .line {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px;
  min-width: 3px;
  background-color: $ems-navy;
}
