div.flex {
  display: flex;
  flex-wrap: wrap;
}

div.flex.center {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

div.flex.center > div {
  text-align: center;
}

div.flex.center > div > div {
  display: inline-block;
}

div.flex > div:not(.line):not(.image-div) {
  width: 40%;
  padding-bottom: 2vh;
  flex-grow: 1;
}

@media screen and (max-width: 1452px) {
  div.flex > .line {
    visibility: hidden;
  }
  div.flex > div:not(.line):not(.image-div) {
    width: 100%;
    padding-bottom: 2vh;
    flex-grow: 1;
  }
}

div.image-div {
  padding: 2vw;
  text-align: center;
  flex-grow: 1;
}

div.image-div > img {
  display: inline;
}

div.flex > .line {
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 0px;
  min-width: 3px;
  background-color: $ems-navy;
}
