* {
  margin: 0px;
  font-family: open-sans;
}

.bold {
    font-weight: 900;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
    color: $umass-maroon;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
}

@font-face {
  font-family: open-sans;
  src:url("/assets/fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: open-sans-semibold;
  src:url("/assets/fonts/open-sans/OpenSans-Semibold.ttf");
  font-weight: bold;
}

div.text-content {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.text-content > h2 {
  border-bottom: 3px solid $umass-maroon;
}

div.text-content > div > p {
  margin-top: 10px;
}

div.text-content > div pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.text-content > div > ol {
  margin-top: 10px;
  padding-left: 20px;
}

.hidden {
 visibility: hidden;
}

h2 {
  font-size: 4vh;
}

h3 {
  font-size: 3vh;
}

p, li, code {
  font-size: 2vh;
  padding-bottom: 0.2vh;
}
