<div ng-repeat="shift in shifts" class="shift-box">
    <div class="small">{{ shift.dateString }}</div>
    <div class="small">{{ shift.day }}</div>
    <div class="small">{{ shift.callTime }}</div>
    <div>{{ shift.venue }}</div>
    <div>{{ shift.event }}</div>
    <div class="small right"><span ng-if="shift.oneSlots > 0">1</span></div>
    <div class="small right"><span ng-if="shift.twoSlots > 0">2</span></div>
    <div class="small right"><span ng-if="shift.volSlots > 0">V</span></div>
</div>
